<div class="carousel" *ngIf="product.name == 'Phone XL'">
  <div class="carousel-prev">≪</div>
  <div class="carousel-container xl">
    <div class="carousel-items">
      <div class="carousel-pic all">
        <img src="assets/img/xl/xl-all.jpg" alt="Phone XL Picture - All Color">
      </div>
      <div class="carousel-pic black">
        <img src="assets/img/xl/xl-black.jpg" alt="Phone XL Picture - Black">
      </div>
      <div class="carousel-pic green">
        <img src="assets/img/xl/xl-green.jpg" alt="Phone XL Picture - Green">
      </div>
      <div class="carousel-pic orange">
        <img src="assets/img/xl/xl-orange.png" alt="Phone XL Picture - Orange">
      </div>
      <div class="carousel-pic white">
        <img src="assets/img/xl/xl-white.jpg" alt="Phone XL Picture - White">
      </div>
    </div>
  </div>
  <div class="carousel-next xl">≫</div>
</div>

<div class="carousel" *ngIf="product.name == 'Phone Mini'">
  <div class="carousel-prev">≪</div>
  <div class="carousel-container mini">
    <div class="carousel-items">
      <div class="carousel-pic all">
        <img src="assets/img/mini/mini-all.jpg" alt="Phone Mini Picture - All Color">
      </div>
      <div class="carousel-pic black">
        <img src="assets/img/mini/mini-black.jpg" alt="Phone Mini Picture - Black">
      </div>
      <div class="carousel-pic blue">
        <img src="assets/img/mini/mini-blue.jpg" alt="Phone Mini Picture - Blue">
      </div>
      <div class="carousel-pic red">
        <img src="assets/img/mini/mini-red.jpg" alt="Phone Mini Picture - Red">
      </div>
    </div>
  </div>
  <div class="carousel-next mini">≫</div>
</div>

<div class="carousel" *ngIf="product.name == 'Phone Standard'">
  <div class="carousel-prev">≪</div>
  <div class="carousel-container standard">
    <div class="carousel-items">
      <div class="carousel-pic standard all">
        <img src="assets/img/standard/standard-all.jpg" alt="Phone Standard Picture - All Color">
      </div>
      <div class="carousel-pic black">
        <img src="assets/img/standard/standard-black.jpg" alt="Phone Standard Picture - Black">
      </div>
      <div class="carousel-pic blue">
        <img src="assets/img/standard/standard-blue.jpg" alt="Phone Standard Picture - Blue">
      </div>
      <div class="carousel-pic gray">
        <img src="assets/img/standard/standard-gray.jpg" alt="Phone Standard Picture - Gray">
      </div>
      <div class="carousel-pic green">
        <img src="assets/img/standard/standard-green.jpg" alt="Phone Standard Picture - Green">
      </div>
      <div class="carousel-pic orange">
        <img src="assets/img/standard/standard-orange.jpg" alt="Phone Standard Picture - Orange">
      </div>
      <div class="carousel-pic red">
        <img src="assets/img/standard/standard-red.jpg" alt="Phone Standard Picture - Red">
      </div>
    </div>
  </div>
  <div class="carousel-next standard">≫</div>
</div>
