<mat-vertical-stepper #stepper linear>
  <mat-step state="arrow" completed>
    <ng-template matStepLabel>
      <span style="font-size: medium; font-weight: 500">
        Enter Your Information Below:
      </span>
    </ng-template>
    <div>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="nameFormGroup" state="name">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Fill Out Your Name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name:" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button (click)="setNamePBValue()" mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup" state="address">
    <form [formGroup]="addressFormGroup">
      <ng-template matStepLabel>Fill Out Your Address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address:" formControlName="addressCtrl" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button (click)="setAddressPBValue()" mat-raised-button matStepperNext style="margin-left: 10px">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="emailFormGroup" state="email">
    <form [formGroup]="emailFormGroup">
      <ng-template matStepLabel>Fill Out Your Email</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email:" formControlName="emailCtrl" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button (click)="setEmailPBValue()" mat-raised-button matStepperNext style="margin-left: 10px">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step state="finish">
    <ng-template matStepLabel>Done</ng-template>
    <p>You can purchase now.</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <app-dialog-purchase-comp></app-dialog-purchase-comp>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="arrow">
    <mat-icon>arrow_downward</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="name">
    <mat-icon>person</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="address">
    <mat-icon>house</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="email">
    <mat-icon>email</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="finish">
    <mat-icon>thumb_up</mat-icon>
  </ng-template>
</mat-vertical-stepper>
